/*** 

====================================================================
  File Name: responsive.css
====================================================================

***/
/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
  }
  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .download-button a.download1 {
    margin-left: 10px;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
  }
  .logo {
    width: 120px;
  }
  .header-left {
    width: 50%;
  }
  .header-right {
    width: 50%;
  }
  .lightshot-report-add-wrap {
    display: flex;
    justify-content: center;
  }
  .dropdown-wrap {
    margin-left: 4px;
    margin-right: 4px;
  }
}
.logo {
  width: 82px;
  margin-right: 5px;
}
.download-button a.download1 {
  padding-top: 1px;
  padding-bottom: 0px;
}
.download-button a.download1 img {
  width: 13px;
}
.download-button a.download2 {
  font-size: 10px;
}
.header-wrap {
  display: flex;
  padding-top: 5px;
}
.header-left {
  width: 50%;
}
.header-right {
  width: 50%;
}
@media (max-width: 587px) {
  .logo {
    width: 82px;
    margin-right: 5px;
  }
  .download-button a.download1 {
    padding-top: 1px;
    padding-bottom: 0px;
  }
  .download-button a.download1 img {
    width: 13px;
  }
  .download-button a.download2 {
    font-size: 10px;
  }
  .header-wrap {
    display: flex;
    padding-top: 5px;
  }
  .header-left {
    width: 50%;
  }
  .header-right {
    width: 50%;
  }
  .footer-logo a img {
    width: 80px;
    display: block;
    margin: 0 auto;
  }
  .footer-link li a {
  }
  .footer-text-wrap {
    display: block;
    margin: 0 auto;
  }
  .footer-row {
    flex-direction: column;
  }
  .nav-wrap {
    margin-top: 10px;
    display: block;
    margin: 5px auto;
  }
}

@media (max-width: 565px) {
  .header-left {
    width: 50%;
  }
  .header-right {
    width: 50%;
  }
}

@media (min-width: 481px) and (max-width: 502px) {
  .header-right .social-link {
    display: none;
  }
  .logo {
    width: 60px;
    margin-right: 5px;
  }
  .header-left {
    margin-top: 7px;
    width: 50%;
  }
  .header-right {
    width: 50%;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .header-right .social-link {
    display: none;
  }
  .logo {
    width: 60px;
    margin-right: 5px;
  }
  .header-left {
    margin-top: 7px;
    width: 50%;
  }
  .header-right {
    width: 50%;
  }
}
@media (max-width: 395px) {
  .dropdown-wrap {
    display: none;
  }
  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 60%;
  }
}
@media (max-width: 335px) {
  .dropdown-wrap {
    display: none;
  }
  .download-button .download1 {
    display: none;
  }
  .download-button a.download2 {
    border-radius: 5px;
  }
  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 60%;
  }
  .footer-logo a img {
    width: 70px;
    display: block;
    margin: 0 auto;
  }
  .footer-link li a {
    font-size: 12px;
  }
  .footer-text-wrap {
    display: block;
    margin: 0 auto;
    font-size: 12px;
  }
  .footer-text-wrap a,
  .footer-text-wrap span {
    font-size: 12px;
  }
  .footer-row {
    flex-direction: column;
  }
  .nav-wrap {
    margin-top: 10px;
    display: block;
    margin: 5px auto;
  }
  footer {
    padding-top: 15px;
  }
}

@media (min-width: 396px) and (max-width: 425px) {
  .dropdown-wrap {
    display: none;
  }
  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 60%;
  }
}
@media (min-width: 336px) and (max-width: 359px) {
  .dropdown-wrap {
    display: none;
  }
  .download-button .download1 {
    display: none;
  }
  .download-button a.download2 {
    border-radius: 5px;
  }
  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 60%;
  }
}
@media (min-width: 336px) and (max-width: 312px) {
  .dropdown-wrap {
    display: none;
  }
  .download-button .download1 {
    display: none;
  }
  .download-button a.download2 {
    border-radius: 5px;
  }
  .header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
  }
  .header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    width: 60%;
  }
  .report-img-wrap .report-img img {
    width: 332px;
  }
}
@media (max-width: 307px) {
  .signin-wrap {
    display: none;
  }
  header {
    height: 60px;
  }
  .card-wrap {
    margin-top: 70px;
  }
  .report-img-wrap .report-img img {
    width: 332px;
  }
}
/*.....................responsive css file.............................*/
